<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pino.avalon.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.pino.avalon.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_uid" jdbcType="INTEGER" property="pkUid" />
    <result column="uk_username" jdbcType="VARCHAR" property="ukUsername" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="uk_email" jdbcType="VARCHAR" property="ukEmail" />
    <result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction" />
    <result column="header" jdbcType="VARCHAR" property="header" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>